/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'offcourse';
@reset      : 'default';

/* Elements */
@button     : 'offcourse';
@container  : 'offcourse';
@divider    : 'offcourse';
@flag       : 'offcourse';
@header     : 'offcourse';
@icon       : 'default';
@image      : 'offcourse';
@input      : 'offcourse';
@label      : 'offcourse';
@list       : 'offcourse';
@loader     : 'offcourse';
@rail       : 'offcourse';
@reveal     : 'offcourse';
@segment    : 'offcourse';
@step       : 'offcourse';

/* Collections */
@breadcrumb : 'offcourse';
@form       : 'offcourse';
@grid       : 'offcourse';
@menu       : 'offcourse';
@message    : 'offcourse';
@table      : 'offcourse';

/* Modules */
@accordion  : 'offcourse';
@checkbox   : 'offcourse';
@dimmer     : 'offcourse';
@dropdown   : 'offcourse';
@embed      : 'offcourse';
@modal      : 'offcourse';
@nag        : 'offcourse';
@popup      : 'offcourse';
@progress   : 'offcourse';
@rating     : 'offcourse';
@search     : 'offcourse';
@shape      : 'offcourse';
@sidebar    : 'offcourse';
@sticky     : 'offcourse';
@tab        : 'offcourse';
@transition : 'offcourse';

/* Views */
@ad         : 'offcourse';
@card       : 'offcourse';
@comment    : 'offcourse';
@feed       : 'offcourse';
@item       : 'offcourse';
@statistic  : 'offcourse';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : '../../src/semantic/themes';

/* Path to site override folder */
@siteFolder : "../../src/semantic/site";

/*******************************
         Import Theme
*******************************/

@import '~semantic-ui-less/theme.less';
@fontPath: '../../../themes/@{theme}/assets/fonts';

/* End Config */
