@import '../../semantic/themes/offcourse/globals/site.variables';

.Footer {
  background: @black;
  color: @white;
  float: left;
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 100%;

  h4 {
    padding-top: 2rem;
  }

  .item {
    padding: 0 !important;
  }

  a {
    font-size: 1rem;
    color: @white;
    line-height: 1;

    &:hover {
      color: @primaryColor;
    }
  }
}

.Footer__logo {
  margin: 0 auto;
  width: 300px;
}
